@import "tailwindcss";

@theme {
  --color-base-low-pure: #0F172A;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1 {
    @apply text-[28px] font-semibold leading-[130%] text-[var(--color-base-low-pure)];
    font-family: var(--font-inter);
  }
}
